.note-container {
    border-left: 1px white solid;
    width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.note {
    flex: 0 0 var(--note-width);
    height: var(--note-height);
    width: var(--note-width);
    border: var(--note-border-size) solid var(--color-black);
    box-sizing: border-box;
    margin-top: var(--note-margin-vert);
    margin-bottom: var(--note-margin-vert);
    margin-left: var(--note-margin-horz);
    margin-right: var(--note-margin-horz);
    cursor: pointer;
    border-radius: 13px;
}

.note.on {
    background-color: #957964;
    transition: background-color 120ms 0 ease;
}

.note.playing {
    background-color: #81C14B;
}