.track {
    display: flex;
    flex-direction: row;
  }

  .track_title {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 1.4rem;
    padding: var(--spacer);
    width: var(--track-title-width);
    font-family: 'Inter Tight', sans-serif;
  }

  .track_notes {
    display: flex;
  }